#content {

    max-width: 1600px;
    margin: 0 auto;
    
}

#nav a { 

    text-align: center; 

}

#hero-msg h1 {

    text-align: center; 

}

#hero-msg h4 {

    text-align: center;

}

#homegrid {

    text-align: center; 

}

.button-box a {

    text-align: center;

}

main section {

    text-align: center;

}

#background {

    height: 725px;
     
}

body {
    
    background-color: white

}

header {

    background-color: #F0D2D1
}

nav a:hover {

    background-color: #1E352F;
    color: #d9c2a3;

}

.book {

    background-color: #57CC99

}

.join {

    background-color: #F0D2D1

}

.book:hover {

    background-color: #42CAFD

}

.join:hover {
    
    background-color: #F0D2D1

}

.msg { 

    background-color: #F0D2D1

}

footer {

    background-color: #F0D2D1

}