@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
root {
--heading-font: "Rock Salt", sans-serif, "Times New Roman";
--paragraph-font: "Roboto", Helvetica, sans-serif;

}

#content {
    max-width: 1600px;
    margin: 0 auto;

}

nav a { 
    text-decoration: none;
    padding: 35px;
    color: white;
    text-align: center;

}

h4 {
    color: black;
    text-align: center; 

}

#hero-msg h1{ 
    text-align: center; 
    text-decoration: none;
    color: #F0D2D1;

}

#homegrid { 
    text-align: center;
    
}

.button-box {
    text-align: center;
    
}

main section {
    text-align: center;
    box-sizing: border-box;

}

#background {
    background-color: #1E352F;
    height: 725px;
    padding: 20px;

}


body {
    background-color: white;
    font-family: Roboto, Helvetica, sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;

}

h2 {
    margin: 0;

}

.home-title {
    font-family: "Rock Salt", sans-serif, "Times New Roman";
    font-size: 2em;
    margin-top: 10px;

}

header {
    background-color: #1E352F;

}

nav a:hover {
    background-color: none;
    color: #F0D2D1;

}

.book, .join {
    background-color: #F0D2D1;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    color: black;
    
}

.book:hover, .join:hover {
    background-color: #42CAFD;
    color: white;

}

.msg { 
    background-color: #1E352F;
    padding: 40px; 
    line-height: 1.5em;
    color: white;

}

.msg h2 {
    color: none; 
}

.msg p {
    padding-bottom: 15px; 
    font-size: .8em; 
    margin: 35px; 
    color: none;

}

footer {
    padding: 25px 50px; 
    margin-top: 200px;
    background-color: #1E352F;
    
}

footer .social img {
    padding-top: 15px;

}

.logo {
    width: 80px;

}

#logo_link {
    padding-top: 5px; 

}

.icon{
    width: 80px;
    padding-top: 10px;

}


#hero-img {
    width: 100%;
    margin: 0 auto; 

}

footer p {
    font-size: 1.2em;
    text-decoration: none;
    color: #F0D2D1;

}

footer p a:hover {
    text-decoration: underline;
    color: #57CC99;

}

footer a {
    text-decoration: none; 
    color: #F0D2D1;

}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;

}

.card-img {
    border: 10px solid black;

}

main section img{
    box-sizing: border-box;

}
.mountains {
    margin: 100px 0; 
}