@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
root {
--heading-font: "Rock Salt", sans-serif;
--paragraph-font: Roboto, Helvetica, sans-serif;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a { 
    text-align: center; 
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    font-family: var(--heading-font); 
    text-align: center; 
}

#hero-msg h4 {
    text-align: center;
}

#homegrid {
    text-align: center; 
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    background-color: white;
    height: 725px;
}

body {
    background-color: #1E352F;
    font-family: "Rock Salt", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.home-title {
    font-family: "Rock Salt", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

header {
    background-color: #F0D2D1;
}

nav a:hover {
    background-color: #1E352F;
    color: #d9c2a3;
}

.book, .join {
    background-color: #57CC99;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    
}

.join {
    background-color: #F0D2D1;
    text-decoration: none;
    padding: 15px 30px; 
}

.book:hover {
    background-color: #42CAFD;
}

.join:hover {
    background-color: #F0D2D1;
}

.msg { 
    background-color: #F0D2D1;
    padding: 35px; 
    line-height: 1.5em;
}

.msg h2 {
    font-family: Roboto, Helvetica, sans-serif;
}

.msg p {
    padding-bottom: 15px; 
    font-size: .8em; 

}

footer {
    background-color: #F0D2D1;
    padding: 25px 50px; 
    margin-top: 200px;

}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px; 
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
    margin: 0 auto; 
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none; 
}

.rivers-card, .camping-cards, .rapids-card {
    margin: 200px 0;
}
.card-image {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}